/*banner部分*/
.main-banner{width: 100%; height: auto;}
#banner img{min-width: 100%; height: auto;}
/*公司简介*/
.main-about{height:auto; background-color: #FFFFFF; overflow: hidden;}
.about-title{font-size: 40px; color: #b70309; padding-top: 40px; padding-bottom: 30px;}
.about-all{height: auto; padding-bottom: 50px;}
.about-all .about-all-content{font-size: 20px; height: auto; padding-top:6px; box-sizing: content-box;}
/*腾瑞LOGO标识及名称含义*/
.logo-about{height:auto; padding-top: 20px; padding-bottom: 0; background-color: #FFFFFF; overflow: hidden;}
.logo-title{font-size: 40px; color: #b70309; padding-top: 40px; padding-bottom: 20px;}
.logo-all{height: auto;}
.logo-all .logo-all-content{font-size: 20px; height: auto; padding-top:6px; box-sizing: border-box;}
.logo-all .logo-all-img img{height: auto; width: auto;}
/*企业发展蓝图*/
.main-target{height:auto; margin-bottom: 20px; padding-top: 20px; padding-bottom: 0; background-color: #FFFFFF; overflow: hidden;}
.target-title{font-size: 40px; color: #b70309; padding-top: 40px; padding-bottom: 20px;}
.target-all{height: auto;padding-bottom: 20px; }
.target-all .target-all-content{font-size: 20px; height: auto; padding-top:6px; box-sizing: content-box;}

