/*banner部分*/
.main-banner{width: 100%; height: auto;}
#banner img{min-width: 100%; height: auto;}
/*新闻动态*/
.main-contactus{height:auto; padding-bottom: 50px; background-image: url(../img/bg_cu2.jpg); overflow: hidden;}
.contactus-all{height:800px;}
.contactus-all .contactus-left{margin-top: 150px; height: auto;}
.contactus-all .contactus-left .contactus-left-title{font-size: 40px; color: #FFFFFF;}
.contactus-all .contactus-left dl{margin-top:20px; letter-spacing: 2px;}
.contactus-all .contactus-left dl dd{padding-top: 12px; font-size: 20px; color: #FFFFFF;}
.contactus-all .contactus-right{margin-top: 150px; height: auto;}
.contactus-all .contactus-right ul{margin-top:0px; letter-spacing: 2px;}
.contactus-all .contactus-right ul li{padding-top: 20px; font-size: 20px; color: #FFFFFF;}
.contactus-all .contactus-right ul li input{text-indent: 10px; width:380px; height:44px; border-radius: 10px; outline:none; border: none;}
