/*底部*/
.footer{height: 200px; background-color: #5e6664;}
.footer .footer-contact{color: #fff; font-size: 14px; padding-top: 35px;}
.footer .footer-contact img{width: 130px; height: 130px;}
.footer .footer-contact .contact-title{font-family: "microsoft yahei"; font-size:14px; color: #F20700; padding: 5px 5px;}
.footer .footer-contact .contact-element{font-family: "microsoft yahei"; font-size:12px; color: #fff; padding: 3px 5px;}
.footer .footer-contact .contact-element a{color: #fff;}
.footer .footer-contact .contact-element a:hover{color: #F20700;}


@media screen and (max-width: 480px){
	.footer{height: 350px;background-color: #5e6664;}
}
@media screen and (min-width: 480px) and (max-width: 768px){
	.footer{height: 350px;background-color: #5e6664;}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.footer{height: 350px;background-color: #5e6664;}
}